 <link rel="stylesheet" href="../css/home.css">
   <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>

    <script type="text/javascript">
      window.onload = function() {
        L.mapquest.key = 'Ohu0mCESWDbUOTbp6GSviBsXSlOwW1sL';

        // Geocode three locations, then call the createMap callback
        L.mapquest.geocoding().geocode(['Portland, OR', 'Flagstaff, AZ', 'Denver, CO'], createMap);

        function createMap(error, response) {
          // Initialize the Map
          var map = L.mapquest.map('map', {
            layers: L.mapquest.tileLayer('map'),
            center: [0, 0],
            zoom: 12
          });

          // Generate the feature group containing markers from the geocoded locations
          var featureGroup = generateMarkersFeatureGroup(response);

          // Add markers to the map and zoom to the features
          featureGroup.addTo(map);
          map.fitBounds(featureGroup.getBounds());
        }

        function generateMarkersFeatureGroup(response) {
          var group = [];
          for (var i = 0; i < response.results.length; i++) {
            var location = response.results[i].locations[0];
            var locationLatLng = location.latLng;

            // Create a marker for each location
            var marker = L.marker(locationLatLng, {icon: L.mapquest.icons.marker()})
              .bindPopup(location.adminArea5 + ', ' + location.adminArea3);

            group.push(marker);
          }
          return L.featureGroup(group);
        }
      }
    </script>

  <style type="text/css">
      
      * {
        margin:0px;
        padding:0px;
      }
      
      #header {
        margin:auto;
        width:500px;
        font-family:Arial, Helvetica, sans-serif;
      }
      
      ul, ol {
        list-style:none;
      }
      
      .nav > li {
        float:left;
      }
      
      .nav li a {
        background-color:#000;
        color:#fff;
        text-decoration:none;
        padding:7px 12px;
        display:block;
      }
      
      .nav li a:hover {
        background-color:#434343;
      }
      
      .nav li ul {
        display:none;
        position:absolute;
        min-width:140px;
      }
      
      .nav li:hover > ul {
        display:block;
      }
      
      .nav li ul li {
        position:relative;
      }
      
      .nav li ul li ul {
        right:-140px;
        top:0px;
      }
      
      button, html input[type=button], input[type=reset], input[type=submit] {
      -webkit-appearance: button;
      cursor: pointer;
      padding: 15px;
      }

    </style>

    
	<!-- barra de navegacion  -->
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right">
      <button ng-click="logout()" class="glyphicon glyphicon-log-in"> Logout</button>
    </ul>
    <div class="navbar-header">
      <div id="header">
      <ul class="nav">
        <li><a href="">Inicio</a></li>
        <li><a href="">Cliente</a>
          <ul>
            <li><a href="">Actualizar informacion</a></li>
          </ul>
        </li>
        <li><a href="">Paquete</a>
          <ul>
            <li><a href="#/orden">Solicitud de recoleccion</a></li>
            <li><a href="#/seguimiento">Seguimiento de paquete</a></li>
            <li><a href="">Agregar</a>
              <ul>
               <li><a href="#/añadirdireccion">Agregar direccion</a></li>
               <li><a href="#/añadirorden">Agregar orden</a></li>
               <li><a href="#/añadirpaquete">Agregar paquete</a></li>
              </ul>
            <li><a href="">Eliminar</a>
              <ul>
               <li><a href="">Eliminar direccion</a></li>
               <li><a href="">Eliminar orden</a></li>
               <li><a href="">Eliminar paquete</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    
  </div>
</nav>
	<!-- fin barra de navegacion  -->	
	<div class="limiter">
		<div class="container-login100">

			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
				<center><img src="../images/logo.png"></center>
				<form class="login100-form validate-form" ng-submit="direccion()" role="form"> <link rel="stylesheet" href="../css/home.css">
					<span class="login100-form-title p-b-33">
						
						<div ng-show="error" class="alert alert-danger">{{error}}</div>
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="address" name="direccion1" id ="direccion1"placeholder="Direccion 1" ng-model="direccion1" required="required">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar la direccion">
						<input class="input100" type="address" name="direccion2"  id="direccion2" placeholder="Direccion 2" ng-model="direccion2" required="required">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar el codigo">
						<input class="input100" name="codigoPostal"  id="codigoPostal" placeholder="Codigo Postal" ng-model="codigoPostal" required="required">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar el codigo">
						<input class="input100" name="ciudad"  id="ciudad" placeholder="Ciudad" ng-model="ciudad" required="required">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar el codigo">
						<select class="input100" name="pais"  id="pais"  ng-model="pais" required="required">
							<option value="Elegir" >Elegir pais</option>
							
<option value="Afganistán" id="AF">Afganistán</option>
<option value="Albania" id="AL">Albania</option>
<option value="Alemania" id="DE">Alemania</option>
<option value="Andorra" id="AD">Andorra</option>
<option value="Angola" id="AO">Angola</option>
<option value="Argelia" id="DZ">Argelia</option>
<option value="Argentina" id="AR">Argentina</option>
<option value="Armenia" id="AM">Armenia</option>
<option value="Australia" id="AU">Australia</option>
<option value="Bélgica" id="BE">Bélgica</option>
<option value="Brasil" id="BR">Brasil</option>
<option value="Colombia" id="CO">Colombia</option>
<option value="Croacia" id="HR">Croacia</option>
<option value="Cuba" id="CU">Cuba</option>
<option value="Dinamarca" id="DK">Dinamarca</option>
<option value="Ecuador" id="EC">Ecuador</option>
<option value="España" id="ES">España</option>
<option value="Estados Unidos" id="US">Estados Unidos</option>
<option value="Filipinas" id="PH">Filipinas</option>
<option value="Francia" id="FR">Francia</option>
<option value="Italia" id="IT">Italia</option>
<option value="Japón" id="JP">Japón</option>
<option value="Luxemburgo" id="LU">Luxemburgo</option>
<option value="México" id="MX">México</option>
<option value="Perú" id="PE">Perú</option>
<option value="Portugal" id="PT">Portugal</option>
<option value="Rusia" id="RU">Rusia</option>
<option value="Uruguay" id="UY">Uruguay</option>
<option value="Venezuela" id="VE">Venezuela</option>
<option value="Vietnam" id="VN">Vietnam</option>
						
					    </select>
              <span class="focus-input100-1"></span>
                <span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar el codigo">
						<select class="input100" name="tipoDeDireccion"  id="tipoDeDireccion" ng-model="tipoDeDireccion" required="required">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
						<OPTION>Entrega</OPTION>
            <OPTION>recoleccion</OPTION>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar el codigo">
						<input class="input100" name="latitud"  id="latitud" placeholder="Latitud" ng-model="latitud" required="required">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>

					<div class="wrap-input100 rs1 validate-input" data-validate="Debe ingresar el codigo">
						<input class="input100" name="longitud"  id="longitud" placeholder="Longitud" ng-model="longitud" required="required">
						<span class="focus-input100-1"></span>
						<span class="focus-input100-2"></span>
					</div>
          <div id="map" style="width: 100%; height: 200px;"></div>
					<div class="container-login100-form-btn m-t-20">
						<button class="login100-form-btn" type="submit" id="enviar">
							Continuar
						</button>
						<button class="volver-btn2" onclick="location.href='https://proyecto-ig-2018.herokuapp.com/#/orden'">
							Volver
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	

<script type="text/javascript">
	enviar=document.getElementById("enviar");
enviar.onclick=validarDatos;

function validarDatos () {
    var elemento =document.getElementById("correo");
    if (elemento.checkValidity() ==false && elemento.required){
    //document.getElementById("mensajes").innerHTML=`<p>Debe ingresar un ${elemento.id} valido</p>`;
    document.getElementById("mensajes").innerHTML="<p>Debe ingresar un "+elemento.id +" valido</p>";
}
}
</script>
	
